:root {
    --calendar__border: #ccc;
    --calendar__bg: #000;
    --td__border: #ccc;
    --td__currentdate: #ccc;
    --td__currentdate__text: #000;
    --pure__blackcolor: #000;
    --td__selecteddate: #ccc;
    --gray__color9: #999999;
    --calendar__headerbg: #ccc;
    --white__bgrcolor: #fff;
    --calendar__fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --transform__transition: transform 200ms ease-in-out;
    --opacity__delay: opacity 0.3s ease-in-out
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
}

body {
    background: #111;
    font-family: sans-serif;
}

.vintimepicker--circle__timeinputs input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-appearance: textfield;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.highlight-match {
    background: yellow;
    color: transparent;
}

.highlight-match.current-match {
    background: orange;
}

.vintimepicker--circle__timeinputs input[type="number"]::-webkit-inner-spin-button,
.vintimepicker--circle__timeinputs input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.head__tag h2 {
    color: #fff;
    margin: 0 0 10px 0;
    padding: 10px 0;
    font-size: 18px;
    font-family: var(--calendar__fontfamily);
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
}

@keyframes colorBlink {
    0% {
        color: #999999;
        opacity: 1;
    }

    25% {
        color: #cccccc;
        opacity: 0.6;
    }

    50% {
        color: #ffffff;
        opacity: 0.3;
    }

    75% {
        color: #cccccc;
        opacity: 0.6;
    }

    100% {
        color: #ffffff;
        opacity: 1;
    }
}

.view-code-btn {
    position: relative;
    display: inline-block;
    animation: colorBlink 2s linear infinite;
    transition: color 0.3s ease;
}

.view-code-btn:hover {
    animation-play-state: paused;
}

.view-code-btn::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: auto;
    right: -37px;
    left: auto;
    top: -17px;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.view-code-btn:hover::after,
.view-code-btn:hover::before {
    opacity: 1;
}

button,
a,
td,
div,
img {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
}

.vin--relative {
    position: relative;
}

.vinflex {
    display: flex;
}

.vinflex--spacebetween {
    justify-content: space-between;
}

.vinflex--justifycenter {
    justify-content: center;
}

.vinflex--justifyend {
    justify-content: flex-end;
}

.vinflex--alignitemscenter {
    align-items: center;
}

.vinflex--1 {
    flex: 1;
}

.vin--inflex {
    display: inline-flex;
}

.vin--textcenter {
    text-align: center;
}

.vin--absolute {
    position: absolute;
}

.vindatepicker--dropdown__wrapp {
    position: absolute;
    top: 100%;
    z-index: 2000;
    width: 100%;
    border: 1px solid var(--calendar__border);
    background: var(--calendar__bg);
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.vindatepicker--dropdown__wrapp tbody td {
    border: 1px solid var(--td__border);
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: var(--calendar__fontfamily);
    font-size: 13px;
    -webkit-transition: var(--transform__transition);
    -moz-transition: var(--transform__transition);
    -ms-transition: var(--transform__transition);
    -o-transition: var(--transform__transition);
    transition: var(--transform__transition);
    color: var(--white__bgrcolor);
}

.vindatepicker--dropdown__wrapp tbody td.vindatepicker--current__date,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--current__month,
.vindatepicker--dropdown__wrapp tbody td:hover,
.vintimepicker--time__list .vintimepicker--time__current,
.vintimepicker--time__list .vintimepicker--time__current:hover,
.vindatepicker--current__year,
.vindatepicker--current__year:hover {
    background: var(--td__currentdate);
    color: var(--td__currentdate__text);
}

.vindatepicker--dropdown__wrapp tbody td.vindatepicker--selected__date,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--selected__month,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--selected__date:hover,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--selected__month:hover,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--selected__from,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--selected__to,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--selected__from:hover,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--selected__to:hover,
.vintimepicker--time__list .vindatepicker--selected__date,
.vintimepicker--time__list .vindatepicker--selected__date:hover {
    background: var(--td__selecteddate);
    color: var(--pure__blackcolor);
}

.vindatepicker--dropdown__wrapp tbody td:empty {
    visibility: hidden;
}

.vindatepicker--dropdown__wrapp tbody td.disabled,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--headernav__next,
.vindatepicker--dropdown__wrapp tbody td.vindatepicker--headernav__prev,
.vindatepicker--dropdown__wrapp tbody td.less__date {
    background: transparent;
    color: var(--gray__color9);
    cursor: not-allowed;
}

.vin--datepicker__container thead tr th {
    font-family: var(--calendar__fontfamily);
    color: var(--white__bgrcolor);
}

.vindatepicker--dropdown__wrapp table {
    width: 100%;
}

.vindatepicker--dropdown__wrapp__headernav {
    gap: 3px;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    -webkit-transition: var(--transform__transition);
    -moz-transition: var(--transform__transition);
    -ms-transition: var(--transform__transition);
    -o-transition: var(--transform__transition);
    transition: var(--transform__transition);
    font-family: var(--calendar__fontfamily);
    font-size: 13px;
}

.vindatepicker--dropdown__wrapp__headernav button,
.vindatepicker--dropdown__wrapp__headernav span {
    width: 20px;
    height: auto;
    line-height: 27px;
    font-weight: bold;
    background: var(--calendar__headerbg);
    border-radius: 4px;
    color: var(--pure__blackcolor);
    padding: 8px 5px;
    -webkit-transition: var(--transform__transition);
    -moz-transition: var(--transform__transition);
    -ms-transition: var(--transform__transition);
    -o-transition: var(--transform__transition);
    transition: var(--transform__transition);
}

.vin--datepicker__container input {
    width: 100%;
    height: 44px;
    -webkit-transition: var(--transform__transition);
    -moz-transition: var(--transform__transition);
    -ms-transition: var(--transform__transition);
    -o-transition: var(--transform__transition);
    transition: var(--transform__transition);
    border-radius: 20px;
    padding: 12px 10px;
    border: 1px solid var(--calendar__bg);
    box-sizing: border-box;
}

.vin--datepicker__container input:focus,
.vin--datepicker__container input:focus-visible {
    outline: 0;
}

.datepicker-visible.vin--datepicker__container input {
    border-radius: 10px 10px 0 0;
    -webkit-transition: var(--transform__transition);
    -moz-transition: var(--transform__transition);
    -ms-transition: var(--transform__transition);
    -o-transition: var(--transform__transition);
    transition: var(--transform__transition);

}

.vindaterangepicker--calendar {
    width: 100%;
    gap: 10px;
}

.vintimepicker--time__list {
    max-height: 200px;
    overflow: hidden auto;
}

.vintimepicker--time__listitem {
    border-bottom: 1px solid var(--calendar__headerbg);
    padding: 10px;
    cursor: pointer;
    -webkit-transition: var(--transform__transition);
    -moz-transition: var(--transform__transition);
    -ms-transition: var(--transform__transition);
    -o-transition: var(--transform__transition);
    transition: var(--transform__transition);
    font-family: var(--calendar__fontfamily);
    color: var(--white__bgrcolor);
}

.vindatepicker--time__hval,
.vindatepicker--time__mval {
    font-family: var(--calendar__fontfamily);
    color: var(--white__bgrcolor);
}

.vintimepicker--time__listitem:hover {
    background: var(--calendar__headerbg);
    color: var(--primary-btn-clr);
    -webkit-transition: var(--transform__transition);
    -moz-transition: var(--transform__transition);
    -ms-transition: var(--transform__transition);
    -o-transition: var(--transform__transition);
    transition: var(--transform__transition);
}

.vintimepicker--time__list .vin__time__item:last-of-type {
    border-bottom: 0;
}

.vindatepicker--dropdown__wrapp .vindatepicker--timepicker {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--calendar__headerbg);
    z-index: 20;
}

.vindatepicker--timepicker__select {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.vindatepicker--dropdown__wrapp .vindatepicker--time__toggle {
    position: relative;
    height: 23px;
    width: 100%;
    background: var(--calendar__headerbg);
}

.container__datepicker .vindatepicker--dropdown__wrapp .vindatepicker--time__toggle i {
    top: 0;
    right: 0;
    transform: none;
    left: 0;
    margin: 0 auto;
    color: var(--pure__blackcolor);
    height: 100%;
    line-height: unset;
}

.vindatepicker--dropdown__wrapp .vindatepicker--time__control {
    flex-direction: column;
    width: 100%;
}

.vindatepicker--time__controlselect {
    width: 100%;
}

.vindatepicker--time__ampm {
    width: 100%;
}

.vindatepicker--time__ampm .vindatepicker--time__unit,
.vindatepicker--time__ampm .vintimepicker--time__col {
    flex-direction: column;
}

.ampm-val {
    width: auto;
    display: inline-flex;
    background: var(--pure__blackcolor);
    padding: 5px 10px;
    border-radius: 6px;
}

.vindatepicker--dropdown__wrapp .vindatepicker--time__unit,
.vindatepicker--dropdown__wrapp .vintimepicker--time__col {
    flex-direction: column;
}

.vindatepicker--apply__time,
.vintimepicker--time__actions {
    width: 100%;
    background: var(--calendar__bg);
    padding: 5px 0;
}

.vindatepicker--apply__time button,
.vintimepicker--time__actions button {
    width: 100%;
    height: 100%;
}

.vintimepicker--time__arrow {
    background: var(--pure__blackcolor);
    padding: 14px 0;
}

.vintimepicker--hourlist,
.vintimepicker--minutelist {
    max-height: 200px;
    overflow: auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4px;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
}

.vintimepicker--houritem,
.vintimepicker--minuteitem {
    flex: 0 0 28.8%;
    width: auto;
    background: var(--calendar__headerbg);
    text-align: center;
}


.vindatepicker--dropdown__wrapp svg {
    width: 100%;
    height: 200px;
}


.vintimepicker--round__clock {
    background: var(--calendar__headerbg);
}

.vintimepicker--circle__hour,
.vintimepicker--circle__minute {
    cursor: pointer;
    pointer-events: all;
    user-select: none;
    fill: transparent;
    font-size: 18px;
}

.vin--daterange__calendar {
    width: 50%;
}

.vintimepicker--circle__hour text,
.vintimepicker--circle__minute text {
    fill: var(--pure__blackcolor);
    stroke: var(--pure__blackcolor);
    font-weight: bold;
}

.vintimepicker--circle__hoursbg,
.vintimepicker--circle__minutesbg {
    fill: transparent;
    stroke: var(--calendar__headerbg);
    stroke-width: 4px;
    stroke-dasharray: 4 2;
}

#vintimepicker--hour__indicators,
#vintimepicker--hour__knob,
#vintimepicker--minute__indicators,
#vintimepicker--minute__knob {
    stroke: var(--white__bgrcolor);
    fill: var(--white__bgrcolor);
}

.vindatepicker--time__ampmgroup {
    position: relative;
    background: var(--calendar__headerbg);
    border-radius: 25px;
    padding: 3px;
    gap: 5px;
    border: 1px solid var(--white__bgrcolor);
}

.vindatepicker--timeampm__btn {
    position: relative;
    z-index: 2;
    padding: 2px 9px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: var(--opacity__delay);
    -moz-transition: var(--opacity__delay);
    -ms-transition: var(--opacity__delay);
    -o-transition: var(--opacity__delay);
    transition: var(--opacity__delay);
    border-radius: 20px;
}

.vindatepicker--timeampm__btn.active {
    color: var(--white__bgrcolor);
}

.vindatepicker--timeampm__btnactive-bg {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(50% - 3px);
    height: calc(100% - 7px);
    background: var(--pure__blackcolor);
    border-radius: 20px;
    z-index: 1;
    -webkit-transition: var(--transform__transition);
    -moz-transition: var(--transform__transition);
    -ms-transition: var(--transform__transition);
    -o-transition: var(--transform__transition);
    transition: var(--transform__transition);
}

.vintimepicker--circle__hoursbg,
.vintimepicker--circle__minutesbg,
.vintimepicker--circle__hwrapp,
.vintimepicker--circle__mwrapp {
    opacity: 1;
    -webkit-transition: var(--opacity__delay);
    -moz-transition: var(--opacity__delay);
    -ms-transition: var(--opacity__delay);
    -o-transition: var(--opacity__delay);
    transition: var(--opacity__delay);
}

.vintimepicker--circle__hidden {
    display: none;
    pointer-events: none;
}

#vintimepicker--hour__indicators,
#vintimepicker--minute__indicators,
#vintimepicker--hour__knob,
#vintimepicker--minute__knob {
    -webkit-transition: var(--opacity__delay);
    -moz-transition: var(--opacity__delay);
    -ms-transition: var(--opacity__delay);
    -o-transition: var(--opacity__delay);
    transition: var(--opacity__delay);
}

.vintimepicker--circle__hourbg,
.vintimepicker--circle__minutebg {
    fill: var(--white__bgrcolor);
    stroke-width: 2px;
    r: 20;
}



.datepicker-visible.container__datepicker .vindatepicker--dropdown__wrapp input,
.vindatepicker--dropdown__wrapp input {
    border-radius: 0 10px 0 10px;
}

.cls_ActiveMnu .container__datepicker .vindatepicker--dropdown__wrapp input,
.vindatepicker--dropdown__wrapp input {
    border: 1px solid var(--calendar__bg);
    color: var(--calendar__bg);
}

.vintimepicker--circle__timeinputs span {
    color: var(--calendar__bg);
}

.clear__selected__month {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    display: flex;
    align-items: center;
}

.clear__selected__month button {
    background: var(--calendar__bg);
    border: var(--calendar__bg);
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .03rem;
    font-weight: 600;
    text-align: center;
    transition: .3s;
    border-radius: 20px;
}

.clear__selected__month svg,
.clear__selected__month a {
    width: 20px;
    height: 20px;
}

.input__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
}

.input__col {
    flex: 1 1 auto;
}

.vin--datepicker__container .calendar-button {
    position: absolute;
    top: 50%;
    right: 10px;
    color: var(--calendar__bg);
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 0;
}

.vin--datepicker__container button {
    border: 0;
}

.vindaterangepicker--from__todate {
    display: flex;
    gap: 10px;
}

.view-code-container {
    transform-origin: top center;
    transform: rotateX(-90deg);
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 200;
    width: 100%;
    overflow: hidden;
    transition: transform 0.4s ease, opacity 0.4s ease;
    will-change: transform, opacity;
    display: none;
    box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    border: 1px solid #000;
    border-radius: 10px;
}

.view-code-container.show {
    display: block;
    transform: rotateX(0deg);
    opacity: 1;
}

.view-code-container pre {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.view-code-container.show pre {
    max-height: 300px;
    overflow: auto;
    margin-top: 20px;
}


.tab-btn {
    flex: 1;
    padding: 19px 0;
    cursor: pointer;
    border: none;
    background: #3a3a3a;
    transition: background 0.3s ease;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.tab-indicator {
    left: 0;
    transform: translateX(0);
    width: 0;
    z-index: 20;
    height: 4px;
    background: #ccc;
}

@media (max-width: 1024px) {
    .input__row {
        padding: 15px;
    }

}

form#search__popupmain {
    display: flex;
    align-items: center;
    gap: 5px;
}

form#search__popupmain label {
    font-size: 12px;
    font-family: sans-serif;
}

.range__with__sidebar {
    display: flex;
    gap: 20px;
}

.vindaterangepicker--sidebar {
    width: 220px;
    border-right: 1px solid var(--td__border);
    padding: 0 20px;
    box-sizing: border-box;
}

.vindaterangepicker--sidebar ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.vindaterangepicker--sidebar ul li,
.vin__range__header .vincustom__year__clmn,
.vin__day__clmn,
.vin__day__clmn button {
    color: var(--white__bgrcolor);
}

.vincustom__year__clmn {
    color: var(--white__bgrcolor);
}

.vin__day__clmn button {
    background: none;
    border: none;
    border: 0;
    padding: 0;
}

.vindaterangepicker__custom table tr th {
    color: var(--white__bgrcolor);
}

.vin__canapply__sec {
    gap: 20px;
    border-top: 1px solid #fff;
    margin: 20px 0 0 0;
    padding: 10px 20px 10px 0px;
}

.vin__range__header {
    margin: 16px 0 10px 0;
}

.vin__range__time label {
    display: none;
}

.sliderContainer {
    position: relative;
    width: 100%;
    max-width: unset;
    margin: auto;
    overflow: hidden;
}

.cuz__slider {
    width: 100%;
    overflow: hidden;
}

.exchange__custom__slider,
.exchange__custom__bonusmobile {
    position: relative;
}



.sliderTrack {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
}

.promoWrapper__clmn {
    flex: 0 0 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    background: #eee;
    text-align: center;
    font-size: 24px;
    overflow: hidden;
    min-width: 100%;
}

.promoWrapper__clmn .customslider__item {
    width: 100%;
    height: 100%;
}

.promoWrapper__clmn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sliderNav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: #000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sliderNav.prev {
    left: 0;
}

.sliderNav.next {
    right: 0;
}

.cuz__paginations {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    gap: 8px;
    position: absolute;
    width: auto;
    left: auto;
    right: 11px;
    bottom: 0;
}

.section__custom__slider {
    padding-bottom: 14px;
}

.section__custom__slider .cuz__paginations,
.exchange__custom__bonusmobile .cuz__paginations,
.exchange__custom__slidermobile .cuz__paginations,
.deposit__custom__slider .cuz__paginations {
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
    margin: 12px 0 0 0;
}

.exchange__custom__bonusmobile .cuz__paginations,
.exchange__custom__slidermobile .cuz__paginations {
    bottom: 15px;
}

.section__custom__slider .cuz__paginations {
    bottom: -11px;
}

.deposit__custom__slider .cuz__paginations {
    bottom: 7px;
}

.cuz__paginations__wrap {
    display: inline-flex;
    gap: 10px;
    box-shadow: 0px 0px 9px 6px var(--primary-redcolor);
    padding: 7px 10px;
    border-radius: 10px;
    background: var(--tr__bg);
}



.section__custom__slider .cuz__paginations__wrap,
.deposit__custom__slider .cuz__paginations__wrap {
    box-shadow: none;
    background: transparent;
}

.cuz__paginations .cuz__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--primary-redcolor);
    cursor: pointer;
    transition: background-color 0.3s;
    transition: width 0.3s ease, height 0.3s ease;
}

@media(max-width:1024px) {
    .cuz__paginations__wrap {
        padding: 5px 10px;
        gap: 6px;
        align-items: center;
    }

    .cuz__paginations .cuz__dot {
        width: 9px;
        height: 9px;
    }

    .cuz__paginations .cuz__dot.small {
        width: 4px;
        height: 4px;
    }

    .cuz__paginations .cuz__dot.medium {
        width: 7px;
        height: 7px;
    }

}

.section__custom__slider .cuz__paginations .cuz__dot,
.deposit__custom__slider .cuz__paginations .cuz__dot {
    border: 2px solid var(--under__review);
}

.cuz__paginations .cuz__dot.active {
    background-color: var(--primary_whitecolor);
}

.section__custom__slider .cuz__paginations .cuz__dot.active,
.deposit__custom__slider .cuz__paginations .cuz__dot.active {
    border: 2px solid var(--primary-redcolor);
}

.cuz__slider .cuz__slider__track {
    will-change: transform;
    transition: transform 0.5s ease;
    touch-action: pan-y;
    cursor: grab;
    user-select: none;
    width: 100%;
}

.exchange__custom__slidermobile {
    position: relative;
    padding-bottom: 20px;
}

.deposit__custom__slider {
    position: relative;
    padding-bottom: 45px;
}

.casslot__banner,
.livecasinomobile__custom__slider,
.livecasinomobile__custom__slider .cuz__slider__track {
    height: 100%;
    position: relative;
}

.testimonialcustom__slider .cuz__slider__track {
    margin-bottom: 20px;
}

.cuz__slider .cuz__slider__slide {
    user-select: none;
    pointer-events: auto;
    -webkit-user-drag: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
}

.cuz__slider .item,
.cuz__slider .item img {
    height: 100%;
    width: 100%;
}

.cuz__slider__track.dragging {
    transition: none;
    cursor: grabbing;
}

.custom__swiper__container {
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}

.custom__swiper__container.right__container {
    right: 0;
    left: auto;
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper {
    display: -webkit-box;
    display: flex;
    padding: 7px 5px;
    width: 100%;
    align-items: center;
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .gameImageWrapper {
    width: 30%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .gameImageWrapper .imageWrapper {
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .2);
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .gameImageWrapper .imageWrapper img {
    max-height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: default;
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .details {
    width: 70%;
}

@media only screen and (min-width: 801px) {
    .netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .details {
        margin: 0 5px;
    }
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .details .contentWrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: .9rem;
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .details .contentWrapper .netwinAmount,
.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .details .contentWrapper span,
.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .details .contentWrapper>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .details .contentWrapper .amountWrapper {
    display: -webkit-box;
    display: flex;
    font-family: Teko, sans-serif;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .details .contentWrapper .amountWrapper .currencyIcon {
    color: var(--primary-redcolor);
    padding-right: 5px;
    font-weight: 400;
    margin: 0;
}

.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide .winnerDetail .wrapper .details .contentWrapper.otherDetails {
    font-size: .8rem;
    color: #8f99a3;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;

}



.netwinContainer .custom__swiper__container .custom__swiper__wrapper .custom__swiper__slide:nth-child(2n) .winnerDetail {
    background-color: rgba(0, 0, 0, .1);
}

.poster__banner,
.poster__banner img {
    border-radius: 10px;
}

.featuredGames .featured-wrapper .custom__featSwiperBg .custom__swiper__slide[data-v-7fdc8ba0]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, .6);
}

.featuredGames .featured-wrapper .custom__featSwiperBg[data-v-7fdc8ba0] {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    z-index: 1;
    border-radius: 10px;
    background-color: #1a1a1a;
    overflow: hidden;
}


.featuredGames .featured-wrapper .featSwiperBg .custom__swiper__slide img[data-v-7fdc8ba0] {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.featuredGames .featured-wrapper .custom__featSwiperBg .cuz__slider__track,
.featuredGames .featured-wrapper .custom__featSwiperBg .cuz__slider__track .cuz__slider__slide,
.featuredGames .featured-wrapper .custom__featSwiperBg .cuz__slider__track .cuz__slider__slide .item,
.featuredGames .featured-wrapper .custom__featSwiperBg .cuz__slider__track .cuz__slider__slide .item img {
    height: 100% !important;
    border-radius: 10px;
}

.testimonialcustom__slider {
    overflow: hidden;
}

.testimonialcustom__slider .cuz__slider__slide {
    margin-bottom: 20px;
}




.custom__featSwiper {
    width: 75%;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}

.cuz__slider .slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.cuz__slider .slider-controls button i {
    color: var(--primary-redcolor);
    font-size: 24px;
}

.cuz__slider .slider-controls button.disable {
    cursor: not-allowed;
    pointer-events: none;
}

.cuz__slider .slider-controls button.disable i {
    cursor: not-allowed;
    color: #8f99a3;
}

.cuz__slider .slider-controls button.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.custom__featSwiper .slider-controls .slider-prev,
.custom__featSwiper .slider-controls .slider-next {
    left: -40px;
    position: absolute;
}

.featuredGames .featured-wrapper .custom__featSwiperBg .slider-controls .slider-prev,
.featuredGames .featured-wrapper .custom__featSwiperBg .slider-controls .slider-next {
    left: 43px;
    position: absolute;
}

.testimonialcustom__slider .slider-controls .slider-prev,
.testimonialcustom__slider .slider-controls .slider-next {
    left: -26px;
    position: absolute;
}

.testimonialcustom__slider .slider-controls .slider-next {
    right: -26px;
    left: auto;
}

.testimonialcustom__slider .slider-controls .slider-prev i,
.testimonialcustom__slider .slider-controls .slider-next i {
    font-size: 28px;
}


.custom__featSwiper .slider-controls .slider-next {
    right: -40px;
    left: auto;
}

.featuredGames .featured-wrapper .custom__featSwiperBg .slider-controls .slider-next {
    right: 43px;
    left: auto;
}

@media only screen and (min-width: 0) and (max-width: 640px) {

    .testimonialcustom__slider .slider-controls {
        display: none;
    }
}

@media (min-width: 768px) {
    .exchange__custom__slider {
        box-shadow: 8px 8px 25px #090909, -8px -8px 25px #393939, inset 5px 5px 30px rgba(255, 255, 255, .08);
        border-radius: 12px;
        overflow: hidden;
    }
}

.sportsbook__custom__slider.exchange__custom__slider {
    margin: 0;
}

.exchange__custom__slidermobile img {
    border-radius: 12px;
}

.banner-slider .exchange__custom__slidermobile .item {
    background: linear-gradient(103.71deg, #b9e2e4 9.31%, #a4dde4 100%);
    box-shadow: 4px 4px 6px #090909, -4px -4px 15px #393939, inset 5px 5px 14px rgba(255, 255, 255, .08);
    border-radius: 12px;
    margin-top: 15px;
}


/* @media(min-width:500px) {
    .cuz__slider.exchange__custom__slidermobile .cuz__slider__track {
        margin-left: -3%;
    }
}

@media(min-width:900px) {
    .cuz__slider.exchange__custom__slidermobile .cuz__slider__track {
        margin-left: -5%;
    }
} */

.recommended__custom__slider .sport-box {
    width: 100%;
    background: linear-gradient(140.58deg, #282828 16.2%, #070707 92.49%);
    box-shadow: 4px 4px 6px #090909, -4px -4px 15px #393939, inset 5px 5px 14px rgb(255 255 255 / 8%);
    border-radius: 12px;
    border: 1px solid #1e1e1e;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sportsbook__custom__slider .item .mob_active {
    display: none;
}

@media(max-width:768px) {
    .sportsbook__custom__slider .item img {
        display: none;
    }

    .sportsbook__custom__slider .item img.mob_active {
        display: block;
    }
}


.casino__custom__slider .slider-controls {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.casino__custom__slider .slider-controls button {
    width: 42px;
    height: 42px;
    position: absolute;
}

.casino__custom__slider .slider-controls button {
    background: #000;
    border-radius: 50%;
    box-shadow: inset 0px 0px 7px 1px var(--primary-redcolor)
}

.casino__custom__slider .slider-controls button.slider-prev {
    left: -55px;
}

.casino__custom__slider .slider-controls button.slider-next {
    left: auto;
    right: 86px;
}

.recommonded .recommonded__mobile {
    width: 88%;
    position: initial;
    margin: auto;
    padding: 16px 0;
}

.recommonded__mobile .cuz__slider__slide .item,
.recommonded__mobile .cuz__slider__slide .item img,
.livecasinomobile__custom__slider .cuz__slider__slide .item,
.livecasinomobile__custom__slider .cuz__slider__slide .item img,
.recommonded__mobile .cuz__slider__track,
.recommonded__mobile .cuz__slider__track .cuz__slider__slide img,
.recommonded__mobile .cuz__slider__track .cuz__slider__slide {
    border-radius: var(--p);
}

.sportsbook__custom__slider {
    border-radius: 16px;
}

.k_sports_main_wrapper .cuz__slider .cuz__slider__slide .slider_row2 {
    padding: 0 11px;
    flex-wrap: wrap;
    margin: 28.07px 0 23.23px;
}

.k_sports_main_wrapper .cuz__slider .cuz__slider__slide .slider_row1.cl_slider_row {
    padding-top: 20px;
    position: relative;
}

.section__custom__slider.cuz__slider .cuz__slider__slide {
    padding: 0;
    width: auto;
    height: auto;
    position: relative;
    background-image: url("https://s3.eu-west-2.amazonaws.com/assets.beta/khelocdn/public/landing_page/assets/images/shape.png");
    background-size: 100% 100%;
}

.k_sports_main_wrapper .cuz__slider .cuz__slider__slide .team_details {
    width: 36%;
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 61px;
}

.k_sports_main_wrapper .cuz__slider .cuz__slider__slide .slider_row1,
.k_sports_main_wrapper .cuz__slider .cuz__slider__slide .slider_row1.pl-2,
.k_sports_main_wrapper .cuz__slider .cuz__slider__slide .slider_row1.px-2 {
    padding: 17px 17px 0 !important;
}

.k_sports_main_wrapper #custom__esports__slider.cuz__slider .cuz__slider__slide .slider_event_h.cl_slider_event {
    left: 40px;
}

.k_sports_main_wrapper #custom__esports__slider.cuz__slider .team_img2 {
    width: 65.98px;
    height: 56.93px;
    padding: 0;
    box-shadow: var(--land-shadow-inset);
}

.gtco-testimonials .testimonial__sb__custom__slider .card .card-img-top img {
    width: 100%;
    display: block;
}

.gtco-testimonials .testimonial__sb__custom__slider .cuz__slider__track {
    padding-top: 100px;
    padding-bottom: 30px;
}

.gtco-testimonials .active.center,
.gtco-testimonials .center {
    transform: scale(1.2);
    transition: transform 1s;
    -webkit-transform: scale(1.2);
    -webkit-transition: -webkit-transform 1s;
    -o-transform: scale(1.2);
    -o-transition: transform 1s;
    -ms-transform: scale(1.2);
    position: relative;
    z-index: 20;
}



.poster__slider .cuz__slider__track,
.poster__slider .cuz__slider__slide,
.poster__banner,
.promoposter__custom {
    height: 100% !important;
}

.promoposter__custom.cuz__slider {
    padding-bottom: 0;
}

.poster__slider .cuz__slider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.testimonial__info__sec {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
}



.testimonial__info__sec__inn {
    padding: 20px 0 0 0;
    border-top: 1px solid var(--primary-redcolor);
    display: flex;
    gap: 10px;
    align-items: center;
}

.testimonial__author__image {
    width: 60px;
    height: 60px;
}

.gtco-testimonials .cuz__slider__slide .card {
    padding: 20px;
}

.gtco-testimonials .cuz__slider__slide .card-body {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gtco-testimonials .cuz__slider__slide.center h5,
.gtco-testimonials .cuz__slider__slide h5 {
    font-size: 19px;
    margin: 0;
}

.card__body__cnt {
    flex: 1;
    padding: 0 12px;
}

.gtco-testimonials .cuz__slider__slide .card p {
    font-size: 16px;
    position: relative;
    margin: 0;
    padding: 4px 0 0 44px;
    line-clamp: unset;
    -webkit-line-clamp: unset;
    word-break: break-word;
    display: unset;

}

.theme--dark .gtco-testimonials .cuz__slider__slide .card {
    background-color: #201a1af2;
    border-radius: 10px;
    box-shadow: inset 0px 0px 7px 2px var(--primary-redborder);
    height: 100%;
}

.gtco-testimonials .cuz__slider__slide .card p span {
    font-size: 42px;
    color: var(--primary-redborder);
    position: absolute;
    left: 0;
    top: -19px;
}

.gtco-testimonials .cuz__slider__slide .card p span.after__quote {
    transform: rotate(182deg);
    display: inline-block;
    left: unset;
    top: unset;
    margin: 0 0 0 4px;
    bottom: -20px;
}



@media (min-width:700px) and (max-width:767px) {
    .gtco-testimonials .cuz__slider__slide.center .card p {
        font-size: 14px;
    }
}

@media(max-width:767px) {
    .gtco-testimonials .testimonial__sb__custom__slider .cuz__slider__track {
        padding-top: 55px;
    }
}

@media(max-width:699px) {

    .gtco-testimonials .active.center,
    .gtco-testimonials .center {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        transition: none;
        -webkit-transition: none;
    }

    .testimonial__info__sec {
        margin-top: 25px;
    }

    .theme--dark .gtco-testimonials .cuz__slider__slide .card,
    .gtco-testimonials .cuz__slider .item {
        height: auto;
    }

    .gtco-testimonials .cuz__slider__slide .card p {
        line-height: 1.6;
    }

    .gtco-testimonials .cuz__slider__slide .card p span {
        top: -24px;
    }

    .gtco-testimonials .cuz__slider__slide .card p span.after__quote {
        bottom: -25px;
    }

    .gtco-testimonials .testimonial__sb__custom__slider .cuz__slider__track {
        padding-top: 15px;
    }

}

.exchange__custom__bonusmobile {
    border-radius: 12px;
    box-shadow: 8px 8px 25px #090909, -8px -8px 25px #393939, inset 5px 5px 30px rgba(255, 255, 255, .08);
    margin-top: 20px;
    margin-bottom: var(--mtop);
}

.tour__custom__slider .slider-prev {
    display: none;
}

#kl__tour .cuz__slider__slide,
#kl__tour .cuz__slider__slide .item {
    background: #111;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    overflow: hidden;
    position: relative;
}

#kl__tour .slider-controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    transform: none;
    top: auto;
}

#kl__tour .slider-controls button {
    background: var(--primary-redbackground);
    text-transform: uppercase;
    color: #fff;
    height: 9vw;
    width: 93%;
    border-radius: 5px;
    font-size: 4vw;
}

#kl__tour .cuz__paginations {
    position: absolute;
    width: 100%;
    top: 55vw;
    margin: 0;
    transform: none;
    left: 0;
    bottom: unset;
    justify-content: center;
}

#kl__tour .cuz__paginations__wrap {
    box-shadow: none;
}

#kl__tour .tour__custom__slider .game-section-image {
    background: transparent;
}

.tour__custom__slider {
    background: #111;
}

#kl__tour .tour__custom__slider .got-it-sec {
    position: absolute;
    bottom: 20px;
    width: 93%;
    left: 0;
    right: 0;
    margin: 0 auto;
}


#kl__tour .tour__custom__slider .got-it-sec button {
    background: var(--primary-redbackground);
    color: #fff;
    font: inherit;
    height: 9vw;
    width: 100%;
    border-radius: 5px;
    font-size: 4vw;
    font-weight: 600;
    border: 0;
}

.khelo__tour__carousel__section.last-activated .kl__tour__skip,
.khelo__tour__carousel__section.last-activated .slider-next {
    display: none;
}

.khelo__tour__carousel__section.last-activated .got-it-sec {
    display: block;
}

@media (min-width: 768px) {

    #kl__tour .tour__custom__slider .got-it-sec,
    #kl__tour .slider-controls {
        margin-bottom: 30px;
    }

    #kl__tour .tour__custom__slider .got-it-sec button,
    #kl__tour .slider-controls button {
        height: 5vw;
    }

    #kl__tour .slider-controls button,
    #kl__tour .tour__custom__slider .got-it-sec button {
        font-size: 2.5vw;
    }
}

.aviator_content_slider .slide .bet_before_img_wrpr,
.aviator_content_slider .slide .ingame_popup_chat,
.aviator_content_slider .bet_before_img_wrpr img {
    text-align: center;
}

.cuz__slider.aviator__custom__slider.slider .cuz__slider__slide.active .slide {
    display: block;
    background: transparent;
    overflow: hidden;
}

.aviator_content_slider {
    height: 100%;
    position: relative;
}

.slider.aviator__custom__slider {
    height: calc(100vh - 20vh);
    display: flex;
    align-items: center;
    flex: unset;
    position: static;
}

.aviator__custom__slider .ingame_popup_side_aeroplan img,
.aviator__custom__slider .bet_before_img_wrpr img {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .slider.aviator__custom__slider {
        height: auto;
        min-height: calc(100svh - 110px);
    }
}

.aviator_main_sec.first-activated .slider-controls .slider-prev,
.aviator_main_sec.first-activated #button-container #prev-button,
.aviator__custom__slider+#button-container,
.aviator__play__btn {
    display: none;
}

.last-activated .cuz__slider.aviator__custom__slider .slider-controls {
    display: none;
}

.aviator_main_sec.last-activated .aviator__play__btn {
    display: flex;
    margin: 0 auto;
}

.cuz__slider.aviator__custom__slider .slider-controls button {
    background-color: #2E2691;
    border: none;
    border-radius: 3rem;
    color: #FFFFFF;
    font-size: var(--f-size14);
    width: 10rem;
    height: 3.5rem;
    cursor: pointer;
}

.cuz__slider.aviator__custom__slider .slider-controls {
    transform: none;
    bottom: 1rem;
    top: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.aviator__custom__slider.slider .cuz__paginations {
    margin-top: 1rem;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 6.5rem;
    justify-content: center;
}

.aviator__custom__slider .cuz__paginations__wrap {
    box-shadow: none;
    background: transparent;
}

.bg_cloud_img .cuz__paginations .cuz__dot {
    border: 2px solid #2E2691;
}

.bg_cloud_img .cuz__paginations .cuz__dot.active {
    background-color: #2E2691 !important;
}

@media (max-height: 660px) and (orientation: portrait) {
    .aviator__custom__slider .aeroplan_track_root_sub {
        height: 100vw;
    }
}

@media (max-height: 580px) and (orientation: portrait) {
    .aviator__custom__slider .aeroplan_track_root_sub {
        height: 60vw;
    }

    .aviator__custom__slider .ingame_popup_aero_take img {
        top: -39vw;
        width: 11rem !important;
    }
}

@media (max-height: 600px) and (orientation: portrait) {

    .aviator__custom__slider .ingame_popup_chat,
    .aviator__custom__slider .bet_before_img_wrpr {
        height: 23.4rem;
    }

    .aviator__custom__slider .bet_before_img_wrpr img,
    .aviator__custom__slider .ingame_popup_chat img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


/*************/
.cuz__slkrv__slider__main {
    margin-top: 23px;
}

.cuz__slkrv__slider__main .cuz__slkrv__slider {
    padding-bottom: 45px;
    position: relative;
}

.cuz__slkrv__pagination {
    position: absolute;
    bottom: -7px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.cuz__slkrv__pagination__wrap {
    display: inline-flex;
    gap: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    background: var(--tr__bg);
    box-shadow: 0px 0px 9px 6px var(--primary-redcolor);
}

.cuz__slkrv__pagination .cuz__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--primary-redcolor);
    cursor: pointer;
    transition: background-color 0.3s;
}

@media(max-width:1024px) {
    .cuz__slkrv__pagination__wrap {
        padding: 5px 10px;
        gap: 6px;
    }

    .cuz__slkrv__pagination__wrap .cuz__dot {
        width: 9px;
        height: 9px;
    }

}

.cuz__slkrv__pagination .cuz__dot.active {
    background-color: var(--primary_whitecolor);
}

.cuz__slkrv__slider__track {
    max-width: 50%;
    transform: translate3d(0, 0, 0);
    perspective: 222px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.cuz__slkrv__slider__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
    height: auto;
    transition: transform 1s, opacity 1s;
}

.cuz__slkrv__slider__item.active {
    opacity: 1;
    position: relative;
    display: block;
    transform: translate3d(0, 0, 50px);
    z-index: 2;
}

.cuz__slkrv__slider__item.prev {
    opacity: 1;
    transform: translate3d(-28%, 0, 0);
}

.cuz__slkrv__slider__item.next {
    opacity: 1;
    transform: translate3d(27%, 0, 0);
    z-index: 1;
}

@media(max-width:480px) {
    .cuz__slkrv__slider__item.prev {
        transform: translate3d(-38%, 0, 0);
    }

    .cuz__slkrv__slider__item.next {
        transform: translate3d(38%, 0, 0);
    }
}

.cuz__slkrv__slider__item .evnt-bck {
    position: relative;
    border-radius: 15px;
}

.cuz__slkrv__slider__item .evnt-bck img {
    border-radius: 15px;
}

.cuz__slkrv__slider__item .evnt-bck:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 15px;
    min-width: 173px;
}

/*************/